.navbar-dark {
    background-color: #35427B;
    height: 80px
}

.bg-primary {
    background-color: #35427B !important;
}

a.nav-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: #35427B;
}

body {
    background-color: #eeeeee;
    padding: 150px 0px 0px 0px;
    z-index: 0;
    font-family: 'Roboto', sans-serif;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; 
}

.card {
    border-radius: .35rem;
    border-width: 1px;
    margin-bottom: 50px;
}

.footer {
    background-color: #35427B;
    margin: 0px auto;
    padding: 20px 0px; 
}

.btn-social {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.btn-social-icon>:first-child {
    margin-top: 7.5px; 
}

.btn-google {
    color: #35427B;
    background-color: #fff;
    border-color: #fff
}

.btn-facebook {
    color: #35427B;
    background-color: #fff;
    border-color: #fff
}

.btn-twitter {
    color: #35427B;
    background-color: #fff;
    border-color: #fff
}

.btn-linkedin {
    color: #35427B;
    background-color: #fff;
    border-color: #fff
}

.card-img {
    width: 304px;
    height: 203px;
}

.card-body-list {
    padding: 50px 0px 0px 0px;
}

.tab-content {
    margin-bottom: 120px;
}

.nav {
    margin-bottom: 15px;
}